[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vundle"]
	path = bundle/vundle
	url = https://github.com/gmarik/Vundle.vim.git
